<h1 > Pagina Personal</h1>
 <img src="https://media.discordapp.net/attachments/830734014083629086/904190306658971658/vJ5nReykpmtitrRVUCmubva7bqk3Wm6Hb-_EdIrOOlCUcTuQ874xhNBoFXoFySVsAKX0N1vBPNcGqPVpsu1bNSF7yc3RQv8ktbmBuC8IfP1oc3cciWz5h4icyIwAMQEKiG9S93HUbZV-M-6Jx6DkREOGTqLwjrZ8nhterDqT8tr-HE22PP55c8-ZJLmiPf4LXAKmutDtXJbuGVejofX4MssxWPX2rK-TtsbyqqtxXwCbI2PZiHOZTEdn_5GjQh6dxjLPFrr0qu9JN4QYnADPmE-tPt4baKO5asgFqUcSp0KargXzOOwgSvGqi3tAzAMGEM9wCdcodBQyWe6G3F8SmzNfAOB4qM3mMFcDrxnpxsveWLpbNfj77Gik8rcA2UhOe34Uf6bz6ppQEWBkkulg66kE3HQ5p3Q4ZKJ7TruuUTjqguN0QeySLigr_w8XKoLlggPtm6XbqdyiDzPE0VoVmolEbuoJiF46ASNhPIZJRX9sP621TSvoShKLHbyB..png?width=507&height=676" 
 alt="Mi Fotografia"
 width="250"
 height="350">
 
@model Personal
<br>
@Html.LabelFor(m=>m.name, "Nombres"): @Model.name <br>
@Html.LabelFor(m=>m.lastname, "Apellidos"): @Model.lastname<br>
@Html.LabelFor(m=>m.age, "Edad"): @Model.age<br>
@Html.LabelFor(m=>m.email, "Correo Electronico"): @Model.email<br>
@Html.LabelFor(m=>m.telefone, "Numero de Telefono"): @Model.telefone<br>
@Html.LabelFor(m=>m.direction, "Direcion"): @Model.direction<br>