<h1 > Pagina Personal</h1>
@model Personal

@Html.LabelFor(m=>m.name, "Nombres"): @Model.name

@Html.LabelFor(m=>m.lastname, "Apellidos"): @Model.lastname

@Html.LabelFor(m=>m.age, "Edad"): @Model.age

@Html.LabelFor(m=>m.email, "Correo Electronico"): @Model.email

@Html.LabelFor(m=>m.telefone, "Numero de Telefono"): @Model.telefone

@Html.LabelFor(m=>m.direction, "Direcion"): @Model.direction